<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title *ngIf="!selectedItem">Patients</ion-title>
    <ion-title *ngIf="selectedItem">
      {{selectedItem.name}} Docs
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="content">
  <div *ngIf="selectedItem">
    <ion-card *ngFor="let exam of selectedItem.exams">
      <ion-card-header>
        {{exam.date}}
      </ion-card-header>
      <ion-card-content>
        {{exam.documentation}}
      </ion-card-content>      
    </ion-card>
  </div>

  <ion-list *ngIf="!selectedItem">
    <ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-avatar item-start>
        <img [src]="item.avatar">
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <h3>Check-in {{item.checkin}} ago</h3>
      <p>Room {{item.roomNumber}}</p>
    </ion-item>
  </ion-list>
</ion-content>
