<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>2Docs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3>Documentation for Doctors</h3>

</ion-content>
